.divider {
  background-color: black;
  height: 5vh;
}

.about {
  /* Background image */
  /* Credits: https://unsplash.com/photos/OxTT6kZs_gU */
  background-image: url('../assets/Snow\ Forest\ Background.jpg');
  background-size: cover;
  background-attachment: fixed;

  height: 100%;
}

.aboutText {

  /* Text Position */
  margin-top: 15vh;
  margin-right: 25vw;
  margin-left: 25vw;
  padding: 1em;
  text-align: center;

  /* Text size and coloring */
  font-size: 2em;
  text-shadow: 2px 2px 2px black;

  /* Text background */
  background-color: black;
  background: rgba(0, 0, 0, 50%);
  border-radius: 15px;
  box-shadow: 0 0 1em black;
}


@media only screen and (max-width: 600px) {
  .aboutText {
    /* Text Position */
    margin-top: 5vh;
    margin-right: 5vw;
    margin-left: 5vw;
    padding: 0.25em;
  }
}

/* Override User Agent Stylesheets */
body {
  margin: 0;
}
