.intro {
  /* Credits: https://unsplash.com/photos/-WW8jBak7bo */
  background-image: url('../assets/Office Desk Background.jpg');
  background-size: cover;
  padding-top: 75px;
  height: 100vh;
  width: 100vw;
}

.name {
  /* Text */
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-shadow: 3px 3px 3px black;

  /* Margin spacing */
  margin-top: 1em;
  margin-bottom: 1em;
}

.profile-pic {
  box-shadow: 0 0 1em black;
}

/* Override User Agent Stylesheets */
body {
  margin: 0;
}
