.projects-divider {
  background-color: black;
  height: 5vh;
}

.projects {
  /* Background image */
  background-image: url('../assets/Wooden\ Plank\ Background.jpg');
  background-size: cover;
  background-attachment: fixed;

  padding-top: 5vh;
  padding-bottom: 5vh;

  /* Text */
  text-align: center;
  font-size: 2em;
}

.space-between-project-row {
  margin-top: 1em;
}