.projects-divider {
  background-color: black;
  height: 5vh;
}

.projects, .card {
  /* Background image */
  /* Credits: https://www.pexels.com/photo/close-up-of-wooden-plank-326311/ */
  background-image: url('../assets/Wooden\ Plank\ Background.jpg');
  background-size: cover;
  background-attachment: fixed;

  padding-top: 5vh;
  padding-bottom: 5vh;

  /* Text */
  text-align: center;
  font-size: 2em;
}

.projects-grid-wrapper {
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(480px, 1fr));
  display: grid;
  /* height: 130em; */
  justify-content: center;
  align-content: end;
  grid-gap: 7px;
}

.card {
  height: 100%;
  margin: 0;
  padding-left: 20px
}

.project-links {
  font-size: 0.5em;
}
