.skills-divider {
  background-color: black;
  height: 5vh;
}

.skills {
  /* Background image */
  /* Credits: https://unsplash.com/photos/tKN1WXrzQ3s */
  background-image: url('../assets/Cafe Background.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  /* Text and alignment */
  text-align: center;
  padding-top: 5vh;
  padding-bottom: 5vh;

  height: 100vh;
}

.skills-grid-wrapper {
  grid-template-columns: repeat(auto-fit, minmax(200px, 4fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 2fr));
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: end;
  grid-gap: 7px;
}

.flip-card {
  margin: 0;
}

.row1 {
  /* margin-bottom: 5%; */
}

.logo {
  width: 200px;
  height: 200px;

  /* Partial card flip */
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.row1col3, .row1col3, .row2 {
  transition: transform 0.2s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card:hover .row2 {
  transform: rotateY(30deg);
}

.flip-card:hover .row1col3 {
  transform: rotateY(30deg);
}

.language {
  font-size: 1.75em;
  text-shadow: 0px 0px 15px black;
}