#navbar-header {
  background-color: black;
  position: fixed;
  width: 100vw;
  z-index: 999;
}

.navbar-logo {
  height: 1.5em;
}

button.navbar-toggler:hover {
  background-color: grey;
}

/* Override User Agent Stylesheets */
body {
  margin: 0;
}